/* VARIABLES */
@import url('https://fonts.googleapis.com/css2?family=ABeeZee&family=Abel&family=Bowlby+One&display=swap');
:root {
    /* fonts */ 
    --header-font: 'Bowlby One', impact;
    --accent-font: 'Abel', verdana; 
    --body-font: 'ABeeZee', helvetica;
    /* colors */ 
    --light-accent: #F5F3EB; 
    --main-accent: #7FA4AD;
    --second-accent: #DE9D49;
}

/* GENERAL */
body {
    background: var(--light-accent);
    font-family: var(--body-font);
}